*,
::after,
::before {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

body,
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
lengend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.4em
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.4em
}

h3 {
    font-size: 1.2em
}

h4,
h5,
h6 {
    font-size: 1em
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    -webkit-touch-callout: none;
    color: inherit
}

img {
    -webkit-touch-callout: none
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

div {
    border: none;
    box-shadow: none
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", monospace, Courier
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline
}

b,
strong {
    font-weight: bolder
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

svg:not(:root) {
    overflow: hidden
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

fieldset {
    padding: .35em .75em .625em
}

progress {
    display: inline-block;
    vertical-align: baseline
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

input,
textarea {
    outline: 0
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset
}

em,
i {
    font-style: normal
}